body 
{
    margin:0;
    padding:0;
    background-image:url('https://lh6.googleusercontent.com/-CQlbJb44fqM/URul0FKOIEI/AAAAAAAABMY/jCpKhhPTwbQ/s912/bg.png');
    background-repeat:repeat-y;
    font-family:Segoe WP Light;
    color:#e4e4e4;
    overflow:hidden;
    cursor:default;
}

.fullbg
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    
    background:transparent;
    z-index:999999;
    
}


/* ////////////////////////// LOGIN SCREEN //////////////////////////////////////////////////////////////// */

.login
{
    position:absolute;
    width:100%;
    background-image:url('https://lh5.googleusercontent.com/-515C7_BO18c/URulwy8uUGI/AAAAAAAABME/t7Erglfb5yQ/s912/loginbg.png');
    background-repeat:repeat-y;
    top:0;
    left:0;
    z-index:9999999;
}

.loginbox
{
    position:relative;
    width:500px;
    height:auto;
    top:0;
    left:50%;
    margin-top:180px;
    margin-left:-250px;
}


.thumb
{
    position:relative;
    width:150px;
    height:150px;
    border:7px solid #e5e5e5;
    display:block;
    background-image:url('https://lh6.googleusercontent.com/-IE55GJyUXqA/URulw4Grz0I/AAAAAAAABMI/ECVQD5-YNDc/s210/userthumb.png');
    background-size:120px 120px;
    background-position:center center;
    background-repeat:no-repeat;
}

.ipuser
{
    position:relative;
    margin-top:20px;
    margin-left:-50px;
    width:180px;
    height:20px;
    font-size:18px;
    color:#242424;
    
}

.ipuser:focus
{
    box-shadow:0px 0px 7px #dbdbdb;
}

.ipsubmit
{
    width:80px;
    height:30px;
    border:2px solid #fff;
    background-color:#01763d;
    color:#fff;
    font-weight:bold;
    margin-left:10px;
    outline:none;
}
/*  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.container
{
    position:relative;
    
}

h3
{
    position:absolute;
    color:#e4e4e4;
    font-size:48px;
    top:0;
    left:0;
    margin-top:40px;
    margin-left:20px;
}

.user td
{
    color:#e4e4e4;
    font-family:Segoe UI;
    font-size:16px;
}

.surname
{
    font-size:11px;
}

.user
{
    position:absolute;
    top:0;
    margin-top:53px;
    right:60px;
}

.panel
{
    position:absolute;
    top:50%;
    margin-top:180px;
    margin-left:20px;
    cursor:default;
}

.panel td
{
    padding:2px;
}

.tile
{
    visibility:hidden;
    opacity:0;
    right:-150px;
    overflow:hidden;
}

.one
{
    position:relative;
    width:260px;
    height:130px;
    /*background-color:#076f73;*/
    background-image:url('https://lh5.googleusercontent.com/-fMud7-M4VB0/URul2SCQ4fI/AAAAAAAABNA/in0RtsKGlVA/s300/one.png');
    background-repeat:repeat-y;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
    overflow:hidden;
}

.one_d
{
    font-size:13px;
}

.mail
{
    position:absolute;
    font-size:11px;
    display:block;
    width:30px;
    padding:3px;
    text-align:center;
    background-color:transparent;
    opacity:0.5;
    bottom:10px;
}

/*.mail:hover
{
    background-color:rgba(255,255,255,0.1);
}*/

.delete
{
    position:absolute;
    bottom:10px;
    right:10px;
    padding:2px;
    width:20px;
    height:20px;
    background-color:transparent;
    background-image:url('https://lh4.googleusercontent.com/--toiioDAf4Q/URul0hfmNCI/AAAAAAAABMo/Hkamb5BG-CQ/s15/delete.png');
    background-position:center center;
    background-repeat:no-repeat;
    opacity:0.5;
}


ul
{
    position:absolute;
    padding:0;
    margin:0;
    list-style:none;
}

ul li
{
    width:100%;
    height:130px;
}

.name
{
    position:relative;
    font-size:17px;
    margin-top:-10px;
}

.quotes
{
    font-size:14px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.two
{
    position:relative;
    width:260px;
    height:130px;
    /*background-color:#5b38b8;*/
    background-image:url('https://lh5.googleusercontent.com/-o9qvIuX_dg0/URul31lWt1I/AAAAAAAABNk/AmyXGk258jA/s300/two.png');
    background-repeat:repeat-y;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
    
}

.date
{
    position:absolute;
    right:15px;
    font-size:88px;
    top:0;
    margin-top:-8px;
}

.day
{
    position:relative;
    font-size:12px;
    display:block;
    margin-top:-10px;
}

.time
{
    position:absolute;
    left:7px;
    font-size:40px;
    top:0;
    margin-top:18px;
}

sup
{
    font-size:12px;
}

.year
{
    position:absolute;
    display:block;
    font-size:30px;
    bottom:5px;
    left:7px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.three
{
    position:relative;
    width:123px;
    height:130px;
    background-image:url('https://lh3.googleusercontent.com/-5FCPW8A90AQ/URul3ecK16I/AAAAAAAABNY/z51UQVK0hJM/s300/three.png');
    background-size:130px 1px;
    background-repeat:repeat-y;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
    text-align:center;
}

.three .hm
{
    position:absolute;
    text-align:center;
    font-family:Segoe UI;
    font-size:11px;
    top:0;
    margin-top:118px;
    left:12px;
    opacity:0.5;
}

.delete1
{
    position:absolute;
    margin-top:104px;
    right:10px;
    padding:2px;
    width:20px;
    height:20px;
    background-color:transparent;
    background-image:url('https://lh4.googleusercontent.com/--toiioDAf4Q/URul0hfmNCI/AAAAAAAABMo/Hkamb5BG-CQ/s15/delete.png');
    background-size:8px 10px;
    background-position:center center;
    background-repeat:no-repeat;
    opacity:0.5;
}

.three img
{
    position:absolute;
    left:50%;
    margin-left:-42px;
    
    
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

.four
{
    position:relative;
    width:123px;
    height:130px;
    background-image:url('https://lh4.googleusercontent.com/-IK9JW7VMYg8/URul1mBqryI/AAAAAAAABM0/0CMkRVh7IC4/s300/four.png');
    background-size:130px 1px;
    background-repeat:repeat-y;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
    margin-left:6px;
}

.thms
{
    position:absolute;
    width:100%;
    height:120px;
    display:block;
    text-align:center;
    top:0;
    left:0;
    background-image:url('https://lh3.googleusercontent.com/-4ZM5WF4bAiQ/URul3R5q22I/AAAAAAAABNc/VGabu8wUPWs/s77/themes.png');
    background-position:center bottom;
    background-repeat:no-repeat;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

.five
{
    position:relative;
    width:260px;
    height:130px;
    /*background-color:#5b38b8;*/
    background-image:url('https://lh5.googleusercontent.com/-8YeW2d4-O78/URul1oJjz-I/AAAAAAAABMw/5B65UxN7XU8/s300/five.png');
    background-repeat:repeat-y;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.six
{
    position:relative;
    width:260px;
    height:130px;
    /*background-color:#5b38b8;*/
    background-image:url('https://lh5.googleusercontent.com/-rfO_5EqBAXs/URul5HIxn8I/AAAAAAAABN4/QOCEDaBPx-Q/s260/wall1.png');
    background-size:270px 140px;
    background-repeat:repeat-y;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seven
{
    position:relative;
    width:123px;
    height:130px;
    background-image:url('https://lh5.googleusercontent.com/-q-ue5j1mMqQ/URul20gWuCI/AAAAAAAABNM/SmKPzOgaOjo/s300/seven.png');
    background-size:130px 140px;
    background-repeat:no-repeat;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
    
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

.eight
{
    position:relative;
    width:123px;
    height:130px;
    background-image:url('https://lh5.googleusercontent.com/-q-ue5j1mMqQ/URul20gWuCI/AAAAAAAABNM/SmKPzOgaOjo/s300/seven.png');
    background-size:130px 1px;
    background-repeat:repeat-y;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
    margin-left:6px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.nine
{
    position:relative;
    width:123px;
    height:130px;
    background-image:url('https://lh5.googleusercontent.com/-TlCMH9RlRrQ/URul6N0ZjuI/AAAAAAAABOE/CE9z4hZO5Pw/s130/wall2.png');
    background-size:130px 140px;
    background-repeat:no-repeat;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
    
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.ele
{
    position:relative;
    width:260px;
    height:130px;
    /*background-color:#5b38b8;*/
    background-image:url('https://lh4.googleusercontent.com/-a80kPpJy2I0/URul0xAZJLI/AAAAAAAABMk/8P2DmlMqlSI/s260/eleven.png');
    background-size:270px 1px;
    background-repeat:repeat-y;
    font-family:Segoe UI;
    font-size:25px;
    display:inline-block;
    padding:10px 0px 0px 10px;
}










